@{
    ViewData["Title"] = "Quadrant";
}

@model List<Tasks>

<div class="container">
    <h1>Header</h1>

    <div class="container text-center bg-light" style="max-width: 700px;">
        <div class="row" style="height: 50px">
            <div class="col p-2 border" style="max-width: 50px">
            </div>
            <div class="col p-2 border">
                <h5>Urgent</h5>
            </div>
            <div class="col p-2 border">
                <h5>Not Urgent</h5>
            </div>
        </div>
        <div class="row" style="height: 250px">
            <div class="col p-2 border" style="max-width: 50px; writing-mode: vertical-lr; transform: rotate(180deg)">
                <h5 style="margin-left: 0">Important</h5>
            </div>
            <div class="col p-2 border">
                <h4>Quadrant 1</h4>
                <div class="quadrant-tasks container">
                    @foreach (var task in Model.Where(t => t.Quadrant == "I"))
                    {
                        <div class="quadrant-task row" style="border: 1px solid grey; border-width: 1px 0 1px 0">
                            <div class="col-1 p-0">
                                <span class="material-symbols-outlined" style="color: @(task.Completed == "True" ? "green" : "red")">done</span>
                            </div>
                            <div class="col-6 p-0" style="text-align: start">
                                <span class="title">@task.Name</span>
                            </div>
                            <div class="col-3 p-0">
                                <span class="category bg-primary p-1" style="font-size: 10px; color: white; border-radius: 4px">@task.Category?.Name</span>
                            </div>
                            <div class="col-2 d-flex p-0">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">edit</span></a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">delete</span></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col p-2 border">
                <h4>Quadrant 2</h4>
                <div class="quadrant-tasks container">
                    @foreach (var task in Model.Where(t => t.Quadrant == "II"))
                    {
                        <div class="quadrant-task row" style="border: 1px solid grey; border-width: 1px 0 1px 0">
                            <div class="col-1 p-0">
                                <span class="material-symbols-outlined" style="color: @(task.Completed == "True" ? "green" : "red")">done</span>
                            </div>
                            <div class="col-6 p-0" style="text-align: start">
                                <span class="title">@task.Name</span>
                            </div>
                            <div class="col-3 p-0">
                                <span class="category bg-primary p-1" style="font-size: 10px; color: white; border-radius: 4px">@task.Category?.Name</span>
                            </div>
                            <div class="col-2 d-flex p-0">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">edit</span></a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">delete</span></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row" style="height: 250px">
            <div class="col p-2 border" style="max-width: 50px; writing-mode: vertical-lr; transform: rotate(180deg)">
                <h5 style="margin-left: 0">Not Important</h5>
            </div>
            <div class="col p-2 border">
                <h4>Quadrant 3</h4>
                <div class="quadrant-tasks container">
                    @foreach (var task in Model.Where(t => t.Quadrant == "III"))
                    {
                        <div class="quadrant-task row" style="border: 1px solid grey; border-width: 1px 0 1px 0">
                            <div class="col-1 p-0">
                                <span class="material-symbols-outlined" style="color: @(task.Completed == "True" ? "green" : "red")">done</span>
                            </div>
                            <div class="col-6 p-0" style="text-align: start">
                                <span class="title">@task.Name</span>
                            </div>
                            <div class="col-3 p-0">
                                <span class="category bg-primary p-1" style="font-size: 10px; color: white; border-radius: 4px">@task.Category?.Name</span>
                            </div>
                            <div class="col-2 d-flex p-0">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">edit</span></a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">delete</span></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col p-2 border">
                <h4>Quadrant 4</h4>
                <div class="quadrant-tasks container">
                    @foreach (var task in Model.Where(t => t.Quadrant == "IV"))
                    {
                        <div class="quadrant-task row" style="border: 1px solid grey; border-width: 1px 0 1px 0">
                            <div class="col-1 p-0">
                                <span class="material-symbols-outlined" style="color: @(task.Completed == "True" ? "green" : "red")">done</span>
                            </div>
                            <div class="col-6 p-0" style="text-align: start">
                                <span class="title">@task.Name</span>
                            </div>
                            <div class="col-3 p-0">
                                <span class="category bg-primary p-1" style="font-size: 10px; color: white; border-radius: 4px">@task.Category?.Name</span>
                            </div>
                            <div class="col-2 d-flex p-0">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">edit</span></a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId"><span class="material-symbols-outlined">delete</span></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
}